.login-button-container {
  width: 100%;
  margin: 30px 0;

  button {
    // height: 30px;
    width: 100%;
    font-size: 24px;
    padding: 10px 0;
    background-color: transparent;
    border: solid 2px #dfdbe5;
    border-radius: 24px;
    color: white;
    transition: all 0.2s;

    &:hover,
    &:focus {
      background-color: #dfdbe5;
      color: black;
    }
  }
}
